<div [ngClass]="{ 'add-blur' : blurData }" style="overflow-x: hidden;">
  <div class="container-fluid appHeader">
    <div class="banner-header" id="banner-header"
      style="background: url('assets/bannerImage.png') no-repeat center center , #bcbcbc">
    </div>
    <div class="logowrapper col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3">
      <img class="animated fadeInDown headerLogo" alt="logo" src="assets/logo.png" (click)="openClient()" />
    </div>
      <div class="container-fluid headerSubMenu" style="overflow-y: hidden;">
        <div class="row">
          <div class="col-xl-12">
            <div style="text-align: center">
              <div class="animated fadeInDown">
                <div class="menuItem">
                  <h4 (click)="openClient()">
                    <a style="letter-spacing: 1px;font-weight: 500;text-decoration: underline;" class="fa fa-certificate" aria-hidden="true">
                      <span style="margin-right: 5px;"> </span>
                       HOME
                    </a>
                  </h4>
                </div>
                <div class="menuItem">
                  <h4 (click)="openSolution()">
                    <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate" aria-hidden="true">
                      <span style="margin-right: 5px"> </span>
                      SOLUTIONS
                    </a>
                  </h4>
                </div>
                <div class="menuItem">
                  <h4 (click)="openContact()">
                    <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate" aria-hidden="true">
                      <span style="margin-right: 5px"> </span>
                       CONTACT US
                    </a>
                  </h4>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutClass">
    <div>
      <img class="aboutImg" alt="About" src="assets/About.png" >
    </div>
    <div class="aboutTest">
          <h3 class="mat-body-strong" style="text-align: justify;">Melba biotech is a company owned and operated by experienced aquaculture
            professionals with more than 30 years of experience in aquaculture, aquatic
            animal, health care products and services.</h3>  
      <br>
          <h3 class="mat-body-strong" style="text-align: justify;">Synergic association between aquaculture professionals and biotechnology
            expects has emerged in launching MELBA Biotech as a value added and state of
            the art solution and service provided for aquaculture including shrimp and fish.</h3>  
    </div>
  </div>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12" style="text-align:center">
        <h2>
          {{ ' OUR VALUES ' }}
        </h2>
      </div>
    </div>
    <div>
      <mat-grid-list cols={{wid}} rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>INTEGRITY : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We will be fair, honest, transparent and ethical in our
                conduct.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>EXCELLENCE : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We will be passionate about Achieving the highest
                standards of quality, always promoting
                meritocracy.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>PIONEERING : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We will be bold and agile, courageously taking on
                challenges, using in-depth customer
                insight to develop innovative solutions.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>RESPONSIBILITY : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left"> We will be integrate environmental and social
                principles
                in our businesses, ensuring that
                what come from the people goes back to them in many folds.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>UNITY : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We invest in our people and partners, enable continuous
                learning and build caring and
                collaborative relationships based on true and mutual respect.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-12" style="text-align:center">
        <h2>
          {{ ' MARKET ACCESS AND SPECIALITY ' }}
        </h2>
      </div>
    </div>
    <div>
      <mat-grid-list cols={{wid}} rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>Wide Geographical Reach : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We supply to farmers across diverse geographical boundaries,
                ensuring accessibility to our products for aquaculture practitioners globally.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>Customized Formulations : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">WOur expertise allows us to formulate probiotics tailored to specific
                requirements, providing farmers with solutions optimized for their unique aquaculture needs.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card-market">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>Collaboration Across Varied Conditions : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left"> Our probiotic and feed supplement solutions are
                adaptable to various Aquaculture environments, ensuring flexibility and effectiveness across
                different production system.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="value-card-market">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>Versatility Across Fish Species : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">Our probiotics are not limited to shrimp; they are effective for
                various fish species, including Tilapia, Murrel, Sea bass and range of fresh water fish species. This
                versatility reflects our commitments to supporting diverse Aquaculture operations.</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <br>
  <div class="footer-main">
    <div class="ng-star-inserted">
      <!---->
      <nav class="navbar navbar-default book-footer navbar-fixed-bottom ng-star-inserted" id="footerItem"
        role="navigation">
        <div class="container-fluid">
          <div class="row rowfullwidth">
            <div class="col-xs-12 col-sm-4 col-md-4 hotel-address" id="hotelAddress">
              <div>
                <h4 class="block-margin font-class">MELBA BIOTECH</h4>
                <br>
                <h5 class="block-margin">
                  <span style="font-size: 15px;">Email : info@maritech.in</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>