
<div class="mainHeader">
    <div class="container-fluid appHeader">
        <div class="row">


            <div class="logowrapper col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3">
                <img class="animated fadeInDown headerLogo" alt="logo" src="assets/logo.jpg" (click)="openClient()" />
                <div style="display: inline-block">
                <button mat-raised-button color="primary" class="loginBtn" style="margin-left: 8px" (click)="openHome()">
                  <span class="login-btn-text">{{ 'Home' }} </span>
                </button>
              </div>
            
          </div>
            <div class="banner-header" id="banner-header"
                style="background: url('assets/bannerImage.jpg') no-repeat center center , #bcbcbc">
        </div>
        </div>
    </div>
    

<div class="about-text">
  <h2 class="mat-body-strong" style="text-align: center;">ABOUT MELBA AQUACULTURE</h2>
  <h3 class="mat-body-strong" style="text-align: center" >Welcome to the home of Melba Aquaculture, where innovative probiotic solutions meet the world of aquaculture.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">OUR JOURNEY</h2>
  <h3 class="mat-body-strong" style="text-align: left">Founded on the principles of collaboration, innovation, and commitment, Melba Aquaculture has emerged as a leader in the field of aquaculture probiotics. Our journey commenced with a powerful synergy of biotechnologist, aquaculture professionals, and industry experts, all converging to address the pressing challenges within the aquaculture sector. Since our inception, every product in our portfolio has been meticulously developed to deliver innovative solutions to the industry's most pressing issues.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">SCIENTIFIC EXCELLENCE</h2>
  <h3 class="mat-body-strong" style="text-align: left">At the core of our success lies the unmatched expertise of our team, including biotechnologist and aquaculture professionals. Their extensive knowledge and experience play a pivotal role in the formulation of cutting-edge probiotic products.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">CUSTOMISED SOLUTIONS</h2>
  <h3 class="mat-body-strong" style="text-align: left">We understand that aquaculture is a diverse and dynamic industry, which is why we're committed to tailoring our solutions to your unique needs. Our probiotic products are designed to address specific challenges, providing targeted results.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">RESERACH AND DEVELOPMENT</h2>
  <h3 class="mat-body-strong" style="text-align: left">We invest heavily in research and development, ensuring that our probiotics are backed by rigorous scientific scrutiny. This dedication to innovation guarantees the effectiveness of our solutions.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">SUSTAINABILITY</h2>
  <h3 class="mat-body-strong" style="text-align: left">Our products contribute to sustainable aquaculture practices, reducing the reliance on antibiotics and improving water quality, which is not only beneficial for your business but also for the environment.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">PRODUCT RANGE</h2>
  <h3 class="mat-body-strong" style="text-align: left">Explore our wide range of probiotic products, each engineered to provide solutions in diverse applications. From enhanced growth rates to disease management, our products cover a spectrum of aquaculture needs</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">QUALITY ASSURANCE</h2>
  <h3 class="mat-body-strong" style="text-align: left">
    We maintain stringent quality control measures to guarantee the consistency and safety of our products. Melba Aquaculture adheres to the highest industry standards and certifications.
    </h3>
    <br>
    <h2 class="mat-body-strong" style="font-style: italic bold ">PROVEN SUCCESS</h2>
  <h3 class="mat-body-strong" style="text-align: left">At Melba Aquaculture, our success is measured by the countless successful trials we've conducted. These trials have consistently demonstrated the remarkable impact of our probiotics on aquaculture. Our commitment to delivering effective solutions is reflected in the stories of satisfied clients who have witnessed the transformative power of our products.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold ">FARMERS' TESTIMONIALS</h2>
  <h3 class="mat-body-strong" style="text-align: left">Hear from aquaculture farmers themselves about the transformative impact our products have had on their operations. Their testimonials provide real-world validation of the effectiveness of our solutions.</h3>
  <br>
  <h2 class="mat-body-strong" style="font-style: italic bold; ">ONGOING SUPPORT</h2>
  <h3 class="mat-body-strong" style="text-align: left">We're not just a product provider; we're a partner on your journey to aquaculture success. Count on us for continuous support and access to valuable educational resources.</h3>


</div>


