
.mainHeader {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
}

.loginBtn{
    position: absolute;
    top: 30px;
    right: 40px;
    height: 37px;
    box-sizing: border-box;
    min-width: 60px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #393ac0;
    color: white;
    cursor: pointer;
  }

  .about-text{
    padding: 30px;
  }

  .banner-header {
    margin: -20px;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    top: -150px;
    z-index: 9998;
    background-attachment: initial;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.61);
  }
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  .animated {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
  }

.appHeader {
    background-color: #fafafa;
    padding: 10px 15px 10px 15px;
}

.headerLogo {
  width: 160px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

.logowrapper {
    text-align: center;
  }