<div class="mainHeader">
    <div class="container-fluid appHeader">
        <div class="logowrapper col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3">
            <div style="display: inline-block">
                <img class="animated fadeInDown headerLogo" alt="logo" src="assets/logo.png" (click)="openClient()" />
            </div>
        </div>
    </div>
    <div class="container-fluid headerSubMenu" style="overflow-y: hidden;">
        <div class="row">
            <div class="col-xl-12">
                <div style="text-align: center">
                    <div class="animated fadeInDown">
                        <div class="menuItem">
                            <h4 (click)="openClient()">
                                <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate"
                                    aria-hidden="true">
                                    <span style="margin-right: 2px;"> </span>
                                    HOME
                                </a>
                            </h4>
                        </div>
                        <div class="menuItem">
                            <h4 (click)="openSolutions()">
                                <a style="letter-spacing: 1px;font-weight: 500" class="fa fa-certificate"
                                    aria-hidden="true">
                                    <span style="margin-right: 2px"> </span>
                                    SOLUTIONS
                                </a>
                            </h4>
                        </div>
                        <div class="menuItem">
                            <h4 (click)="openContact()">
                                <a style="letter-spacing: 1px;font-weight: 500;text-decoration: underline;"
                                    aria-hidden="true">
                                    <span style="margin-right: 2px"> </span>
                                    CONTACT US
                                </a>
                            </h4>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contactData">
    <div style="width: 100%;" >
        <mat-card class="value-card animated">
            <div *ngIf=product class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Product : </b></h3>
                <mat-form-field appearance="fill">
                    <input matInput type="text" id="product" name="product" [(ngModel)]="product"
                        required disabled />
                </mat-form-field>
            </div>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Name : </b></h3>
                <mat-form-field appearance="fill">
                    <input matInput type="text" id="name" name="name" [(ngModel)]="name" placeholder="John Doe"
                        required />
                </mat-form-field>
            </div>
            <br>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Organisation : </b></h3>
                <mat-form-field appearance="fill">
                    <input matInput type="organisation" id="organisation" name="organisation" [(ngModel)]="organisation" placeholder="XYZ Tech"
                        required />
                </mat-form-field>
            </div>
            <br>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Email Address : </b></h3>
                <mat-form-field appearance="fill">
                    <input matInput type="email" id="email" name="email" [(ngModel)]="email"
                        placeholder="example@domain.com" matNativeControl required />
                </mat-form-field>
            </div>
            <br>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Phone : </b></h3>
                <mat-form-field appearance="fill">
                    <input matInput type="text" id="phone" name="phone" [(ngModel)]="phone" placeholder="+91 9876543210"
                        required />
                </mat-form-field>
            </div>
            <br>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Country : </b></h3>
                <mat-form-field>
                    <select [(ngModel)]="selectedCountry" placeholder="Select Country" matNativeControl required >
                        <option *ngFor="let country of country" [value]="country.name">{{country.name}}</option>
                    </select>
                </mat-form-field>
            </div>
            <br>
            <div class="certClass">
                <h3 class="mat-body-strong" style="text-align: left"><b>Message : </b></h3>
                <mat-form-field appearance="fill">
                    <textarea matInput type="message" id="message" name="message" [(ngModel)]="message"
                        placeholder="Tell us briefly about your needs" required> </textarea>
                </mat-form-field>
            </div>
            <br>
            <br>
            <button class="loginBtn" style="margin-left: 5%" (click)="sendEmail()" color="primary" mat-raised-button>
                <i aria-hidden="true" class="book-login"></i><span class="login-btn-text">Submit </span>
            </button>
            <div *ngIf=product>

            </div>
           
        </mat-card>   
    </div>
    <br>
    <div style="width: 100%;">
        <mat-card class="value-card-data">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>PACKAGING : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">Explore our meticulously packaged products designed for bulk orders. We prioritise quality packaging to ensure your items reach you in perfect condition, no matter the quantity.
            </h3>
            </mat-card-content>
        </mat-card>
        <br>
          <mat-card class="value-card-data">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>SHIPPER PACK : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">Secure and reliable shipping is our commitment. Our specialised shipper packs are tailored for bulk orders, providing robust protection throughout the entire shipping process.
            </h3>
            </mat-card-content>
          </mat-card>    
          <br>
          <mat-card class="value-card-data">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>NO MINIMUM ORDER : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">At Melba Biotech, we believe in flexibility. Enjoy the freedom to place bulk orders without any minimum quantity requirements. Whether you need a few items or a large consignment, we're here to meet your needs.
            </h3>
            </mat-card-content>
          </mat-card>   
          <br>
          <mat-card class="value-card-data">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>NO PRODUCT RETURN POLICY : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">We regret to inform you that we do not accept returns for any products. All sales are final. Please carefully review your order before completing your purchase.
            </h3>
            </mat-card-content>
          </mat-card>   
          <br>
          <mat-card class="value-card-data">
            <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left"><b>SAMPLE REQUEST : </b></h3>
              <h3 class="mat-body-strong" style="text-align: left">You can request samples of our products to assess their quality and suitability for your needs. Please specify the products you are interested in, and any associated details such as quantity, shipping preferences, or specific requirements.
            </h3>
            </mat-card-content>
          </mat-card>   
    </div>
    </div>
    <br>
    <div class="footer-main">
        <div class="ng-star-inserted">
          <!---->
          <nav class="navbar navbar-default book-footer navbar-fixed-bottom ng-star-inserted" id="footerItem"
            role="navigation">
            <div class="container-fluid">
              <div class="row rowfullwidth">
                <div class="col-xs-12 col-sm-4 col-md-4 hotel-address" id="hotelAddress">
                  <div>
                    <h4 class="block-margin font-class">MELBA BIOTECH</h4>
                    <br>
                    <h5 class="block-margin">
                      <span style="font-size: 15px;">Email : info@maritech.in</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>