.mainHeader {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
}

.appHeader {
    background-color: #fafafa;
    padding: 10px 15px 10px 15px;
}

.certClass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .certClass {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.menuItem {
  display: inline-flex;
  align-items: center;
  margin: 0px 30px;
  cursor: pointer;
}

.headerSubMenu {
  top: 20%;
  padding-top: 20px;
  background-color: white;
  border-top: 1px solid #464646;
  overflow-y: hidden;
}

.headerLogo {
    width: 160px;
    height: auto;
    cursor: pointer;
    top: 20px;
    left: 43%;
  }

  .loginBtn{
    position: absolute;
    top: 30px;
    right: 40px;
    height: 37px;
    box-sizing: border-box;
    min-width: 60px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #393ac0;
    color: white;
    cursor: pointer;
  }

  
  .footer-main {
    height: 150px;
    background-color: black
  }
  
  #footerItem {
    position: relative !important;
    bottom: 0;
  }
  
.hotel-address {
  padding: 30px 15px 10px 15px;
  color: white;
  h4 {
    margin-bottom: 3px;
  }
  h5 {
    margin: 0px;
  }
}

  
  .font-class {
    font-size: 25px;
  }