<div class="mainHeader">
  <div class="container-fluid appHeader">
      <div class="logowrapper col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3">
        <div style="display: inline-block">
          <img class="animated fadeInDown headerLogo" alt="logo" src="assets/logo.png" (click)="openClient()" />
        </div>
      </div>
  </div>
    <div class="container-fluid headerSubMenu" style="overflow-y: hidden;">
      <div class="row">
        <div class="col-xl-12">
          <div style="text-align: center">
            <div class="animated fadeInDown">
              <div class="menuItem">
                <h4 (click)="openClient()">
                  <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate" aria-hidden="true">
                    <span style="margin-right: 5px;"> </span>
                     HOME
                  </a>
                </h4>
              </div>
              <div class="menuItem">  
                <h4 (click)="openAbout()">
                  <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate" aria-hidden="true">
                    <span style="margin-right: 5px"> </span>
                    WHO WE ARE
                  </a>
                </h4>
              </div>
              <div class="menuItem">
                <h4 (click)="openCertificate()">
                  <a style="letter-spacing: 1px;font-weight: 500;text-decoration: underline;" class="fa fa-certificate" aria-hidden="true">
                    <span style="margin-right: 3px"> </span>
                    CERTIFICATES
                  </a>
                </h4>
              </div>
              <div class="menuItem">
                <h4 (click)="openContact()">
                  <a style="letter-spacing: 1px;font-weight: 500;" class="fa fa-certificate" aria-hidden="true">
                    <span style="margin-right: 5px"> </span>
                    CONTACT US
                  </a>
                </h4>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="certClass">
    <div>
      <img style="width: 100%;" mat-card-image class="image-height" alt="products" src="assets/certificate1.jpg">
    </div>
    <div>
      <img style="width: 100%;" mat-card-image class="image-height" alt="products" src="assets/certificate2.jpg">
    </div>
  </div>

  <div class="footer-main">
    <div class="ng-star-inserted">
      <!---->
      <nav class="navbar navbar-default book-footer navbar-fixed-bottom ng-star-inserted" id="footerItem"
        role="navigation">
        <div class="container-fluid">
          <div class="row rowfullwidth">
            <div class="col-xs-12 col-sm-4 col-md-4 hotel-address" id="hotelAddress">
              <div>
                <h4 class="block-margin font-class">MELBA BIOTECH</h4>
                <h5 class="block-margin">
                  <span class="footerAddress1">No, 78 79</span>
                  <span class="footerAddressComma1">{{ ", " }}</span>
                  <span class="footerAddress2">East Coast Road</span>
                </h5>
                <h5 class="block-margin">
                  <span class="footerAddress2">Injambakkam</span>
                  <span class="footerAddressComma1">{{ ", " }}</span>
                  <span class="footerCity">Chennai</span>
                </h5>
                <h5 class="block-margin">
                  <span class="footerZipcode">600115</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>