<div class="roomDetailHeader p-3 m-0" mat-dialog-title>
  <div>
    <h2 class="name offerCardName room_name  float-left">{{ data.title }}
      <span style="float: right;cursor: pointer;" (click)="closeModal()">X</span>
      <button class="loginBtn" style="float: right;margin-right: 5%;" (click)="sendEnquiry()" color="primary" mat-raised-button>
        <i aria-hidden="true" class="book-login"></i><span class="login-btn-text">ORDER </span>
    </button>
    </h2>
  </div>
</div>
  <mat-dialog-content style="padding: 0;overflow-x: hidden;" [ngClass]="isMobile ? 'm-0' : 'm-0 certClass'">
    <div class="imgViewDetails">
      <img mat-card-image class="image-height" alt="products" src="{{data.image}}">
    </div>

    <div class="offersCardContent">
      <div>
        <mat-card class="value-card">
          <mat-card-content>
            <h3 class="mat-body-strong" style="text-align: left;font-style: italic;line-height: 20px;"><b>Disclaimer : </b> {{data.disclaimer}}</h3>
            <h3 class="mat-body-strong" style="text-align: left;font-style: italic;line-height: 20px;"><b>Flexible Ordering : </b> {{data.flexibleOrder}}</h3>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="value-card">
          <mat-card-content>
              <h3 class="mat-body-strong" style="text-align: left">{{data.description}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <div class="container-fluid">
          <ul class="row">
            <li class="panel-offer-detail-li col-6 col-sm-6 col-md-4 col-lg-4">
              <span style="font-size: 50px" class="book-check-in"></span>
              <p style="margin-top: 10px"> Dosage </p>
              <strong>
                <p style="font-weight: 900">
                  {{ data.dosage }}
                </p>
              </strong>
            </li>
            <li class="panel-offer-detail-li col-6 col-sm-6 col-md-4 col-lg-4">
              <span style="font-size: 30px" class="book-check-in"></span>
              <p style="margin-top: 10px"> Net Weight </p>
              <strong>
                <p style="font-weight: 900">
                  {{ data.netWeight }}
                </p>
              </strong>
            </li>
            <li class="panel-offer-detail-li col-6 col-sm-6 col-md-4 col-lg-4">
              <span style="font-size: 30px" class="book-check-in"></span>
              <p style="margin-top: 10px"> Min Quantity </p>
              <strong>
                <p style="font-weight: 900">
                  {{ data.minQuantity }}
                </p>
              </strong>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <mat-card class="value-card">
          <mat-card-content>
            <h3 class="mat-body-strong" style="font-weight: bold ">Functions : </h3>
            <div *ngFor="let function of data.functions">
              <h3 class="mat-body-strong" [innerHTML]="function"></h3>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br>
      <div>
        <mat-card class="value-card">
          <mat-card-content>
            <h3 class="mat-body-strong" style="font-weight: bold ">Application and Dosage : </h3>
            <div *ngFor="let application of data.application">
              <h3 class="mat-body-strong" [innerHTML]="application"></h3>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
